# 一時ファイル
tmp
*.log
*.cache
*.bak
*.swp
*.swo
*.tmp

# Node
node_modules
.pnpm-store
.next
out

# .NET
bin
obj
*.csproj.user
*.csproj.lscache
*.csproj.nuget.g.props
*.csproj.nuget.g.targets

# Go
dist

# Env
.env
.env.local
.env.*.local

# IDE
.idea
.DS_Store
